/*!
 * This file is part of RootDB.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * AUTHORS
 * PORQUET Sébastien <sebastien.porquet@ijaz.fr>
 * ROBIN Brice <brice@robri.net>
 */

.flash {
  color:#fff;
  -webkit-animation: flash linear 1.2s;
  animation: flash linear 1.2s;
}

@keyframes flash {
  0% { opacity: 0; }
  80% { opacity: 1; color:#fff; }
  83% { opacity: 0; color:#fff; }
  86% { opacity: 1; color:#fff;}
  89% { opacity: 0}
  92% { opacity: 1; color:#fff;}
  95% { opacity: 0; color:#fff;}
  100% { opacity: 1; color:#fff;}
}