.contextual-menu {
  z-index: 1002;
  width: auto !important;
}

.contextual-menu-item, .p-menuitem {
  align-items: center;

  .p-menuitem-text {
    flex-grow: 1;
    text-align: start;

    &.menu-shortcut {
      margin-left: 1.5*$spacer;
      color: $text-color_secondary !important;
      text-align: end;
    }
  }

}
