/*!
 * This file is part of RootDB.
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published
 * by the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 *
 * AUTHORS
 * PORQUET Sébastien <sebastien.porquet@ijaz.fr>
 * ROBIN Brice <brice@robri.net>
 */

.p-tooltip {
  max-width: 30rem;

  &.w-auto {
    max-width: none !important;
  }

  &.no-arrow {
    .p-tooltip-arrow {
      display: none;
    }
  }

  &.report-parameters-tab-preview {
    background-color: var(--surface-a);

    .p-tooltip-arrow {
      border-bottom-color: var(--surface-a)  !important;
      background-color: var(--surface-a);
    }

    .p-tooltip-text {
      background-color: var(--surface-a);
    }
  }
}

